<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla facere, quaerat eaque fuga molestiae cum corrupti aperiam velit neque? Qui voluptas omnis consectetur deleniti velit hic necessitatibus quia at placeat laudantium? Aut vero libero tenetur consequatur enim quae, debitis quibusdam.</p>
        
    </div>
</div> 