<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and MongoDb</h1>
    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam itaque repellat voluptatem neque molestias iste vel nulla unde repellendus non explicabo aperiam est veritatis laborum corrupti, inventore eligendi ab iure!</p>
    <a href="http://google.com" class="btn btn-primary btn-lg">Google</a>
</div>

{{!-- 
jumbutron: cuadro
mt: margin top
display: tamaño
lead: cambiar texto
my: margen de arriba y abajo
btn-lg: tamaño boton
--}}